# Common / OS
.rep
.DS_Store
tmp/

# IDEs
.idea
.vscode
tmp

# LaTeX
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.lot
*.lof
*.bbl
*.blg
*.vrb
*.lol
*.glo
*.idx
*.ilg
*.ind
*.ist
*.glg
*.gls

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]